@import '../../commons/commons.scss';
@import url('https://fonts.googleapis.com/css?family=Cute+Font');

@mixin handleMenuBar($left) {
  @keyframes menuBarOpen {
    0% {
      left: $left;
    }

    100% {
      left: 0;
    }
  }

  @keyframes menuBarClose {
    0% {
      left: 0;
    }

    100% {
      left: $left;
    }
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  @include mobilePortrait {
    padding: 15px 0;
  }

  @include mobileLandscape {
    padding: 15px 0;
  }

  @include tablet {
    padding: 50px 0 70px;
  }

  @include desktop {
    padding: 65px 0 85px;
  }

  .title {
    font-family: 'Cute Font', cursive;
    color: $mainColor;

    @include mobilePortrait {
      font-size: 2rem;
    }

    @include mobileLandscape {
      font-size: 2.3rem;
    }

    @include tablet {
      font-size: 2.5rem;
    }

    @include desktop {
      font-size: 2.7rem;
    }
  }

  .userMenu {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;

    .loginBtn {
      padding: 5px;

      &:hover {
        border-bottom: 2px solid $mainColor;
      }
    }

    .registerBtn {
      padding: 5px;

      &:hover {
        border-bottom: 2px solid $mainColor;
      }
    }

    @include mobilePortrait {
      display: none;
    }

    @include mobileLandscape {
      display: none;
    }

    @include tablet {
      width: 90%;
      font-size: 0.7rem;
    }

    @include desktop {
      width: 85%;
      font-size: 0.8rem;
    }
  }

  .navMenu {
    position: absolute;
    bottom: 0;
    width: 100%;

    .navList {
      display: flex;
      justify-content: center;

      .navItem {
        border: 1px solid #ebebeb;
        width: 100%;
        white-space: nowrap;
        text-align: center;

        @include mobilePortrait {
          display: none;
        }

        @include mobileLandscape {
          display: none;
        }

        @include tablet {
          font-size: 0.8rem;
        }

        @include desktop {
          font-size: 1rem;
        }

        a {
          display: block;

          &:hover {
            background-color: #ebebeb;
            color: $mainColor;
          }

          @include tablet {
            padding: 12px 7px;
          }

          @include desktop {
            padding: 15px 11px;
          }
        }
      }
    }
  }

  .hamburger {
    position: absolute;
    left: 10px;
    height: 32px;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }

  .closeBtn {
    display: none;
    position: absolute;
    left: 10px;
    width: 32px;
    height: 32px;
    background-color: #fff;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }

    &.open {
      display: block;
    }
  }

  .menuBar {
    position: fixed;
    top: 60px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;

    @include mobilePortrait {
      width: 200px;
      left: -200px;
      // FIXME: menuBar 최초 load시 animation 발생 제거해야 함
      animation: menuBarClose 1s;
    }

    @include mobileLandscape {
      width: 250px;
      left: -250px;
      // FIXME: menuBar 최초 load시 animation 발생 제거해야 함
      animation: menuBarClose 1s;
    }

    // menuBar가 열리면 display: flex로 전환되면서 화면에 나타난다.
    &.open {
      display: flex;
      flex-direction: column;
      left: 0;

      @include mobilePortrait {
        width: 200px;
        @include handleMenuBar(-200px);
        animation: menuBarOpen 1s;
      }

      @include mobileLandscape {
        width: 250px;
        @include handleMenuBar(-250px);
        animation: menuBarOpen 1s;
      }
    }

    .userInfo {
      background-color: #ebebeb;
      padding: 10px 0;

      .userName {
        display: inline-block;
        padding: 0 0 10px 10px;
        font-size: 1.1rem;
      }

      .userBtns {
        display: flex;
        justify-content: flex-end;
        padding: 10px 10px 0 0;
        font-size: 0.9rem;

        .loginBtn {
          padding-left: 5px;
        }

        .registerBtn {
          padding-left: 5px;
        }
      }
    }

    .navBtns {
      .navItem {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}